.main {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  margin: auto;
  background-color: #e5e5e5;
  font-family: "Montserrat", sans-serif;
  box-shadow: 6px 6px 20px;
}

.mainContent {
  background-color: #ffffff;
}

.about {
  background-color: #ffdb37;
  padding: 30px 60px;
}

.aboutName {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 55px;
  color: #000000;
  margin-bottom: 25px;
}

.aboutSecondName {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 55px;
  color: #000000;
  margin-bottom: 25px;
}

.aboutPosition {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 20px;
}

.aboutDickription {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  /* width: 400px; */
}

.infoWraper {
  padding: 20px 40px;
}

.title {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 27px;
  color: #000000;
  margin-bottom: 6px;
}

.education {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
}

.education_position {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 4px;
}

.period {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  color: #a8a8a8;
  margin-top: 6px;
  margin-bottom: 6px;
}

.sidebarDiv {
  background-color: #1b1b1b;
}

.sidebar {
  width: 370px;
  color: #ffffff;
  font-size: 16px;
}

.contakts {
  background-color: rgba(56, 54, 29, 1);
  padding: 34px;
}

.contaktsList {
  margin-bottom: 12px;
}

.contaktsList:hover {
 transform: scale(0.99);
}

.skils {
  margin-left: 40px;
}

.skilsTitle {
  text-transform: uppercase;
  font-size: 20px;
  padding-left: 20px;
}

.skilsList {
  margin-bottom: 4px;
  list-style: inside;
}

.experienceList {
  display: flex;
  flex-wrap: wrap;
}

.experienceItem {
  display: flex;
  flex-direction: column;
}

.experienceAbout {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.experienceTitle {
  text-transform: uppercase;
  text-align: justify;
  color: #000000;
  margin-left: 10px;
}

.experiencelink {
 position: relative;
 height: 30px;
 padding: 0 30px;
 padding-top: 4px;
 border: 2px solid #000;
 background: white;
 user-select: none;
 white-space: nowrap;
 transition: all .05s linear;
 font-family: inherit;
color: #fb6d3a;
}

.experiencelink:before, .experiencelink:after {
 content: "";
 position: absolute;
 background: white;
 transition: all .2s linear;
}

.experiencelink:before {
 width: calc(100% + 6px);
 height: calc(100% - 16px);
 top: 8px;
 left: -3px;
}

.experiencelink:after {
 width: calc(100% - 16px);
 height: calc(100% + 6px);
 top: -3px;
 left: 8px;
}

.experiencelink:hover {
 cursor: pointer;

}

.experiencelink:active {
 transform: scale(0.95);
}

.experiencelink:hover:before {
 height: calc(100% - 32px);
 top: 16px;
}

.experiencelink:hover:after {
 width: calc(100% - 32px);
 left: 16px;
}

.experienceSpan {
 font-size: 15px;
 z-index: 3;
 position: relative;
 font-weight: 600;
}

.link {
  text-align: center;
  color: inherit;
  text-decoration: none;
  padding-left: 10px;
}

.linkWraper {
  margin-top: 40px;
  margin-bottom: 10px;
  padding-left: 250px;
}

.socialWraper{
}

.socialText{
  font-size: larger;
  text-align: center;
  padding-bottom: 20px;
}

.socialList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
  padding-bottom: 20px;
}

.socialItem {
  width: 140px;
  height: 140px;
  background: rgb(246, 249, 249);
  transition: all 0.4s;
  border-radius: 10px;
  /* box-shadow: 0px 0px 10px 5px  rgba(0, 0, 0, 0.705); */
  font-weight: 900;
}

.socialItem:hover {
  border-radius: 15px;
  cursor: pointer;
  transform: scale(1.2);
  /* box-shadow: 0px 0px 10px 5px  rgba(0, 0, 0, 0.705); */
  background: white;
}

.socialFirstContent {
  height: 100%;
  width: 100%;
  transition: all 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  border-radius: 15px;
}

.socialItem:hover .socialFirstContent {
  height: 0px;
  opacity: 0;
}

.socialSecondContent {
  height: 0%;
  width: 100%;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  transition: all 0.4s;
  font-size: 0px;
  transform: rotate(90deg) scale(-1);
}

.socialItem:hover .socialSecondContent {
  opacity: 1;
  height: 100%;
  font-size: 1.8rem;
  transform: rotate(0deg);
}

.sociallink{
  padding-top: 6px;
}